<form>
    <div class="row">
        <div class="col-md-4">
            <div class="input-group">
                <input type="text" name=" job title" placeholder="Job title, skills, or company" class="form-control">
            </div>
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <select name="location" class="dropdown">
                    <option>Location... </option>
                    <option value="new-york">New York</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <select name="category" class="form-control">
                    <option>Category... </option>
                    <option value="01">Web Designer</option>
                    <option value="02">Web Developer</option>
                    <option value="03">SEO Expert</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="input-btn">
                <input type="submit" class="sbutn" value="Search">
            </div>
        </div>
    </div>
</form>